target/
project/target/
project/project/target/
/**/*~
/starjar-client/.settings/
.cache
.idea
.project
.settings
.worksheet
junk

junk/

/server-setup/.cache

/starjar-main/.cache
/starjar-main/.worksheet
/starjar-main/.settings

/starjar-site/.cache




/plugins/partech-plugin/.settings/
/plugins/pengelly-plugin/.settings/
/plugins/starjar-plugin/.settings/
/plugins/viper-plugin/.settings/


/server-setup/.settings/

